@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");

:root {
    --main-color: #29339B;
    --secondary-color: #0B1155;
  }
  
html, body, #root {
    height: 100%; /* Высота страницы равна высоте окна браузера */
    margin: 0;
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

p {
  font-family: "Jersey 10", sans-serif;
}

body {
    background-color: black;
    font-family: "Jersey 10", sans-serif;
}

a {
    color: inherit; /* Убирает синий цвет, наследуя цвет родителя */
    text-decoration: none; /* Убирает подчеркивание */
}

button {
    cursor: pointer;
}

.createbutton:hover,
.forgotbutton:hover {
  background: transparent;
}

.createbutton a:hover,
.forgotbutton a:hover {
  background: transparent;
}

.createbuttontext:hover {
  background: transparent;
}

/* Для всех кнопок без фона */
button:not(.joinbutton):hover {
  background: transparent;
}

button:not(.joinbutton) a:hover {
  background: transparent;
}


header {
    display: flex;
    padding: 15px;
    justify-content: space-between; /* Распределяет элементы по горизонтали */
    align-items: center;
    height: 40px;
}

.welcome-text {
  font-family: "Jersey 10", sans-serif;
  font-size: 20px;
}

.titleimage {
    padding: 20px;
    max-width: 20%;
    height: auto;
}

.main {
    flex: 1; /* Занимает всё доступное пространство между header и footer */
    display: flex;
    justify-content: center;
    align-items: center;
}

.block {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

footer {
    color: white;
    text-align: center;
    padding: 10px 0;
}

  .codeinputdiv {
    display: flex;
    flex-direction: column;
    gap: 0;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
  }
  
  .codeinputp {
    margin-block-end: 5px;
    font-size: 32px;
  }
  
  .codeinput {
    width: 100%;
    max-width: 100%;
    font-size: 20px;
    font-family: "Jersey 10", sans-serif;
    height: 50px;
    border-radius: 1em;
    border: 2px solid var(--main-color);
    padding-left: 10px;
    box-sizing: border-box;
  }

  .codeinput:focus {
    outline: solid var(--main-color); /* Убирает стандартную обводку */
    box-shadow: solid var(--main-color);
  }
  
  .createbutton {
    width: 100%;
    height: 50px;
    margin-top: 10px;
    background-color: black;
    border: none;
    color: white;
    font-family: "Jersey 10", sans-serif;
    font-size: 30px;
  }
  
