:root{
    --login-main-color: #929BFF;
    --main-color: #29339B;
}




.loginbutton{
    border: 1px solid var(--main-color);
    background: none;
    padding: 10px 20px;
    font-size: 20px;
    font-family: "Jersey 10", sans-serif;
    margin: 10px;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    border-radius: 7px;
    cursor: pointer;
}

.loginbutton a {
    color: var(--main-color);
    text-decoration: none;
    position: relative;
    z-index: 1;
}


.loginbutton:hover {
    border: none;
}

.loginbutton::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 0%;
    background: var(--login-main-color);
    z-index: 0;
    transition: 0.8s;
    border-radius: 50% 50% 0 0;
    height: 180%;
}


.loginbutton:hover::before{
    height: 0%;
}










